/* styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444444;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

.active {
  color: orange;
}

nav {
  padding-top: 20px;
}

.form {
  width: 80%;
  margin: 0 auto;
}

.form .form-control {
  width: 50%;
  margin-bottom: 1em;
}
